boto3==1.40.75
botocore==1.40.75
charset-normalizer==3.4.4
greenlet==3.2.4
jmespath==1.0.1
pillow==12.0.0
playwright==1.56.0
pyee==13.0.0
python-dateutil==2.9.0.post0
reportlab==4.4.5
s3transfer==0.14.0
six==1.17.0
typing_extensions==4.15.0
urllib3==2.5.0
